AWS_REGION=us-east-1
AWS_ACCOUNT_ID=183248602306

# Lambda
FUNCTION_NAME=ses-bounce-slack-notifier
LAMBDA_RUNTIME=nodejs22.x
LAMBDA_HANDLER=index.handler
LAMBDA_MEMORY=128
LAMBDA_TIMEOUT=30

LAMBDA_ROLE_ARN=
LAMBDA_ROLE_NAME=ses-bounce-slack-notifier-role


SNS_TOPIC_NAME=ses-reputation-alerts


SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
SLACK_CHANNEL=#test-ses
LOG_LEVEL=info


PROJECTS_CONFIG=deploy/config/projects.json